    <h1><%= title %></h1>
    <ul>
      <li>Juan Quemada y el resto del equipo de la UPM</li>
      <li>Raúl Morales, como humilde estudiante</li>
    </ul>
    <div id="foto1"><img src="/images/raul.jpg"/ width="400" height="300"></div>
