<ul>
  <li>Número de preguntas creadas: <%=numquiz%></li>
  <li>Número de comentarios totales: <%=numcomments%></li>
  <li>Número de preguntas sin comentarios: <%=quiznocomments%></li>
  <li>Media de comentarios por quiz: <%=avgcomment%></li>
</ul>
